@media screen and (max-width:1680px) { 
	.wrapper-right { padding: 80px 0 50px 2%;}
	.wrapper-left{ padding:50px 2% 50px 0;}
	.wrapper {padding: 50px 5%;}
	.feature-icon{ width:100px; height:100px;}
	.feature-text{width: calc(100% - 100px);min-height: 260px;}
	.feature-text h4 { font-size: 22px;}
	.feature-text p{margin:0px;}
	.feature-box-right{ margin-top:70px;}
	.organ-right{width: 35%;}
	.footer { padding: 50px 0 0px;}
	.mobile-app-left{padding: 100px 0% 0;}
	.home-collection-box h4{ font-size:20px;}
	.menu-section ul li{ font-size:18px;}
}

@media screen and (max-width:1450px) {  
	.menu-section > ul > li { padding: 25px 12px;}
	.feature-text{min-height: 300px;}
	.feature-details{margin: 20px 2% 0px;}
	.btn{padding: 12px 40px;}
}

@media screen and (max-width:1284px) { 
.menu-section > ul > li{padding: 25px 9px;} 
.centre-visit-outer h2 {font-size: 70px;}
.feature-details{ width:96%;}
.feature-text { min-height: auto;}
.menu-section{width: 80%;}
.menu-section.frizeclass{width:100%;}
.btn { padding: 12px 30px;}
.staff-box {width: 26%;}
.hc-pointer { width: 22%;}


  
 .side-bar{ top:10%;}
}

@media screen and (max-width:1180px) { 
 .menu-section ul li a{font-size: 18px;padding: 32px 12px;}
}
@media screen and (max-width:1024px) { 
  .side-bar{top: 20%;}
  .menu-section{padding:0px;}
  .menu-section ul li a{padding:20px 11px;}
  .banner-text h1{font-size: 36px;}
  .banner-text h2{font-size: 22px;}
  .portfolio-box{ width: 160px; height: 160px;}
  .centre-visit-outer h2{ font-size:60px;}
  .menu-section.frizeclass{ width:100%;}
  .mobile-app-left{ width:100%; padding:0px;}
  .mobile-app-right{ width:100%; text-align:center;margin-bottom: 50px;}
  .city{margin-left: 35px;}
  .top-section-let{font-size: 14px;}
  .logo-box{margin-left: 2%;}
  .menu-section { width: 83%;}
  .faq-image{ width:100%; text-align:center;}
  .faq-box-outer{ width:100%;}
  .faq-main-inner{ padding:0px;}
  .footer-logo{ width:100%; text-align:center; margin-bottom:25px;}
  .footer { padding: 50px 0 0px;}
  .footer-nav-container li{ width:33.333%;}
} 

@media screen and (max-width: 912px){
    .header-right-section{ width:100%;}
	.header{ position:relative;}
	.burger-menu{ position:fixed; top:0px; right:0px;  margin:0px;padding:19px 25px; background: #fff;box-shadow:rgba(0, 0, 0, 0.1) 0px 2px 4px 2px; z-index:9999;}
	.burger-menu{ display:block;}
	.helpline-box{ width:70%;}
	.city{ width:30%;margin-left:0px;}
	.header-icon-section{ text-align:center;float:none;display: inline-block; width: 100%;margin: 10px 0 0; border-top: 1px solid #ccc;padding: 15px 0; border-bottom: 1px solid #ccc;}
	.header-icon{float:none; display:inline-block;}
	.logo-box { margin-left:0%; width:100%; text-align:center;}
	.menu-section {  width: 100%;border-radius:0px; margin-top:15px; }
	.frizeclass{position: inherit;}
	.menu-section{display:none;position: fixed; top: -14px;left: 0px; width: 100%;z-index: 999;height: 100%;overflow: scroll;}
	
	.portfolio-outer{ margin-top:50px;}
	.portfolio-box { width: 31.333%; height: auto; float: none; display: inline-block; border-radius: 0px;margin-right: 0; vertical-align:top; border:none;}
	.portfolio-box span { position:inherit;top:inherit;left:inherit; transform:inherit; text-align: center;display: block;}
	.side-bar{ display:none;}
	.centre-visit-outer { padding: 50px 0 0px;} 
	.test-main-outer, .feature-box-outer, .mobile-app-outer, .faq-main-outer{padding: 30px 0;}
	.footer-logo{ float:none;}
	.footer-logo-right, .footer-logo-right{ float:none; width:100%; text-align:center;}
	.footer-logo-right .helpline-box{ float:none; width:100%; text-align:center;}
	.footer-logo-right ul{ float:none; text-align:center; margin-top:15px;}
	.footer-logo-right ul li{ float:none; display:inline-block;}
	.footer-nav-container li {  width: 50%;}
	.footer-nav-container li ul{ min-height: 100px;}
	.centre-visit-outer h2{ text-align:center;}
	.feature-box{ width:100%;padding: 15px 0px;}
	.banner-text .nor-btn { margin-top: 15px;}
	.menu-section ul li { float: left;  width: 100%;} 
	.sub-menu{  position: inherit;box-shadow: inherit; display:block; border-radius: 0;padding: 10px 20px;}
	.menu-section > ul > li > a { padding: 20px; border-bottom: 1px solid #fff;}
	.coll { float: left; width: 48%;}
	.faq-search{ width:100%;margin-bottom:15px;}
	.faq-search input{width: calc(100% - 44px);}
	.footer-nav-container > li {  width: 100%; margin-bottom:15px;}
	.footer-logo-box{margin-bottom: 30px;padding-bottom: 30px;}
	.footer-logo-right ul li{ margin-left: 0;}
	.results-hits ul li{ margin:0 10px 10px 0;}
	.results-hits { margin: 25px 0 0;}
	.test-box-outer{padding: 25px 10px;}
	.text-box ul { padding: 25px 0; float: left;}
	.footer-nav-container li ul {  min-height: auto;}
	.footer-nav-container{ text-align:center;}
    
	
	
	
}